@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  @apply h-full;
}

*, html {
  scroll-behavior: smooth !important;
}

html {
  /* overscroll-behavior: none; */
}

html, body {
  overscroll-behavior-x: none;
}

.App {
  @apply w-full bg-base-100;
}

@layer base {
  .DatePicker {
    -webkit-min-logical-width: calc(100% - 16px)
  }
}

@layer components {
  .section {
    @apply p-6 absolute flex min-h-screen w-full flex-col bg-base-100 gap-4
  }

  .section:has(.Toolbar) {
    @apply pt-0
  }


  .form-control {
    @apply text-left
  }

  .form-control-error {
    @apply text-left text-xs text-red-500
  }

  .main-screen {
    @apply flex min-h-screen w-full flex-col gap-4 overflow-hidden bg-base-300
  }

  .sub-screen {
    @apply p-6 pt-0 flex min-h-screen w-full flex-col bg-base-100 gap-4
  }

  .clickable {
    @apply duration-200 ease-out;
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;
  }
  
  .clickable:active {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97));
  }
}
