@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  @apply h-full;
}



*, html {
  scroll-behavior: smooth !important;
}

html {
  overscroll-behavior: none;
}

html, body {
  overscroll-behavior: none;
}

.h1-primary {
  color: #00B1BC;
}

.App {
  @apply w-full bg-base-100;
}

@layer base {
  body {
    @apply font-normal text-base-content/90
  }

  .DatePicker {
    -webkit-min-logical-width: calc(100% - 16px)
  }

  .screen .ToolbarContainer {
    @apply px-3
  }

  .screen > * {
    @apply px-3
    
  }

  /* .ToolbarContainer + * {
    @apply px-3
  } */
}

@layer components {

  .input {
    @apply rounded-md px-2
  }
  
  .btn {
    @apply rounded-md h-[28px]
  }

  .card {
    @apply rounded
  }
  
  .screen {
    @apply absolute flex w-full flex-col gap-4 min-h-screen
  }

  .hidden-screen {
    @apply h-0 overflow-hidden
  }
  

  .form-control {
    @apply text-left
  }

  .form-control-error {
    @apply text-left text-xs text-red-500
  }

  .clickable {
    @apply duration-200 ease-out;
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;
  }
  
  .clickable:active {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97));
  }

  .form-control {
    @apply relative w-full
  }

  .form-control > .form-control-label {
    @apply label absolute -top-[7px] left-[8px] bg-base-100 px-1 py-0 text-xs 
  }
}
